<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app打包平台</title>
</head>
<body>
{%include 'enter/navigation.html' %}    <!--引用enter app下的通用导航栏-->
<div>
    <h2 align="center">安卓打包管理平台</h2>
    <div align="center">
    <a href="https://github.com/WYQJ/kaws-all/wiki/Android-打包和生成增量包流程">
        <button>安卓打包方式</button>
    </a>
        </div>
</div>
<div>
    <h2 align="center">IOS打包管理平台</h2>
    <div align="center">
    <a href="http://192.168.1.32:8080/" >
        <button>IOS打包平台</button>
    </a>
         </div>
</div>
<div>
    <h2 align="center">IOS线上包获取地址</h2>
    <div align="center">
    <a href="https://www.pgyer.com/Qori" >
        <button>IOS线上包下载地址</button>
    </a>
        <p>https://www.pgyer.com/Qori</p>
         </div>
</div>
<div align="center">
    <h2>历史包获取</h2>
    <a href="{% url 'apppakagemanament'%}">前往列表</a>
</div>
{%include 'enter/bottom.html' %}     <!-- 引用 enter app下的底部导航栏-->

</body>
</html>