<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试平台</title>
</head>
<body>
{%include 'enter/navigation.html' %}    <!--引用enter app下的通用导航栏-->
<div>
    <h2 align="center">接口自动化平台</h2>
    <div align="center">

    <a href="http://192.168.1.43:8080/jenkins/"><button>点击前往接口Jkenins平台</button></a>
    <a href="https://github.com/k9s3w3m4/JmterAPI_CI/"><button>点击前往接口git项目</button></a>
    </div>
</div>
<div>
    <h2 align="center">UI自动化平台</h2>
    <div align="center">

    <a href="http://192.168.1.43:8080/jenkins/"><button>点击前往UIJkenins平台</button></a>
    <a href="https://github.com/k9s3w3m4/JmterAPI_CI/"><button>点击前往UIgit项目</button></a>
    </div>
</div><div>
    <h2 align="center">代码扫描平台</h2>
    <div align="center">

    <a href="http://192.168.1.43:8080/jenkins/"><button>点击前往代码扫描jenkins平台</button></a>
    <a href="https://github.com/k9s3w3m4/JmterAPI_CI/"><button>点击前往代码扫描git项目</button></a>
    </div>
</div>
{%include 'enter/bottom.html' %}     <!-- 引用 enter app下的底部导航栏-->

</body>
</html>