<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bug管理平台</title>
</head>
<body>
{%include 'enter/navigation.html' %}    <!--引用enter app下的通用导航栏-->
<div>
    <h2 align="center">安卓bug管理</h2>
    <div align="center">

    <a href="https://work.bugtags.com/apps/1527112989150366"><button>bugtags android跳转</button></a>
    </div>
</div>
<div>
    <h2 align="center">IOS bug管理</h2>
    <div align="center">

    <a href="https://work.bugtags.com/apps/1527112989149770"><button>bugtags IOS跳转</button></a>
    </div>
</div><div>
    <h2 align="center">后台bug管理</h2>
    <div align="center">
    <a href="https://work.bugtags.com/apps/1532567107928183"><button>bugtags 后台跳转</button></a>
    </div>
</div>
{%include 'enter/bottom.html' %}     <!-- 引用 enter app下的底部导航栏-->

</body>
</html>