<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


</head>

{%load staticfiles %}
<div class="texttest" style="position:relative;height:60px;background-color:#00FFCC">
    <div style="position:absolute;top:0px">
        <img src="{%static 'icon.png'%}" alt="logo" width="60" height="60"/>  </div>
    <div style="position:absolute;top:0px;left:40%"><h1 >抗癌卫士测试平台</h1></div>
</div>
<hr>
<table style="position:relative;left:10%" cellspacing="20">
<tr>
    <td>
        <a href="/enter">首页</a>
    </td>
    <td>
        <a href="/testcaseplatform">用例管理平台</a>
    </td>
    <td>
        <a href="/dataplatform">数据平台</a>
    </td>
    <td>
        <a href="/autotestplatform">自动化测试平台</a>
    </td>
    <td>
        <a href="/bugmanageplatform">缺陷管理平台</a>
    </td>
    <td>
        <a href="{%url 'mobilesstatus'%}">真机管理平台</a>
    </td>
    <td>
        <a href="/apppackageplatform">app打包平台</a>
    </td>
    <td>
        <a href="/reportmanageplatform">报告集中管理平台</a>
    </td>
</tr>
</table>
</body>
</html>
