<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据平台－修改账户</title>
</head>
<body>
<div>
{%include 'enter/navigation.html' %}    <!--引用enter app下的通用导航栏-->
</div>
<div style="float:left;width:30%;background-color:white;">
<h3>CMS平台</h3>
<ul type="circle">
    <li> <a href="http://stage-cms.kangaiweishi.com/login">用户端cms</a></li>
    <li><a href="http://mall-cms.kaws.rocks/">商城端cms</a> </li>
    <li><a href="http://182.92.71.60:9001/vip/memberships">管家端cms</a></li>

</ul>
<h3>数据库数据修改</h3>
<ul type="circle">
    <li> 快速删除账号</li>
    <li><a href="http://mall-cms.kaws.rocks/">修改账户贡献值</a> </li>
</ul>
</div>
<div style="float:left;width:70%;background-color:white;">
    {%if Tbuser_view_list%}
    <h2>请将电话修改成你想要的新数字</h2>
      {% for i in Tbuser_view_list %}
 <form action="{%url 'datachange:changecompelet'%}" method="post">
     {%csrf_token%}
     用户名：<input name="userkey" value="{{i.userkey}}" type="hidden">{{i.username}}<br>
     原注册电话：<input type="text" name="mobile_valuse" value="{{i.mobile}}"><br>
     <input type="submit">
     <br>
 </form>

    {% endfor %}
    </ul>
{% else %}
    <p>没有找到对应项目</p>
{% endif %}
</div>


{%include 'enter/bottom.html' %}     <!-- 引用 enter app下的底部导航栏-->
</body>
</html>