<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据平台－修改贡献值</title>
</head>
<body>
<div>
{%include 'enter/navigation.html' %}    <!--引用enter app下的通用导航栏-->
</div>
<div style="float:left;width:30%;background-color:white;">
<h3>CMS平台</h3>
<ul type="circle">
    <li> <a href="http://stage-cms.kangaiweishi.com/login">用户端cms</a></li>
    <li><a href="http://mall-cms.kaws.rocks/">商城端cms</a> </li>
    <li><a href="http://182.92.71.60:9001/vip/memberships">管家端cms</a></li>

</ul>
<h3>数据库数据修改</h3>
<ul type="circle">
    <li> <a href="/dataplatformchange/changemobile">快速删除账号</a></li>
    <li> 修改账户贡献值 </li>
</ul>
</div>
<div style="float:left;width:70%;background-color:white;">
    <h2>请输入您要修改贡献值的用户</h2>
<form action="{% url 'datachange:changecontributeview' %}" method="get">
    <input type="text" name = 'username' value="请输入账号用户名"> <br>
    <input type="submit">
</form>
</div>

<div>
{%include 'enter/bottom.html' %}     <!-- 引用 enter app下的底部导航栏-->
</div>
</body>
</html>